<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>筆記</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <style>
      [v-cloak] {
        display: none;
        /*align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        align-self: start;*/
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="d-flex">
        <div class="content container">
          <div class="row">
            <div class="col-sm-3 sidebar my-nav">
              <nav class="navbar navbar-expand-lg justify-content-center">
                <button type="button" class="btn btn-primary" @click="new_click">新增筆記</button>
              </nav>
              <ul class="nav nav-pills flex-column">
                <li class="nav-item" v-for="sideItem in sideNav">
                  <a
                    class="nav-link"
                    :class="{active:filter==sideItem.id}"
                    href="javascript:void(0);"
                    @click="navItem_click('view',sideItem)"
                    >{{sideItem.title}}</a
                  >
                </li>
              </ul>
            </div>
            <div class="col p-0">
              <div class="topbar my-nav">
                <nav class="navbar navbar-expand-lg justify-content-start">
                  <button type="button" class="btn btn-primary" @click="new_click">新增筆記</button>
                </nav>
                <ul class="nav nav-tabs flex-row">
                  <li class="nav-item" v-for="sideItem in sideNav">
                    <a
                      class="nav-link"
                      :class="{active:filter==sideItem.id}"
                      href="javascript:void(0);"
                      @click="navItem_click('view',sideItem)"
                      >{{sideItem.title}}</a
                    >
                  </li>
                </ul>
              </div>
              <div v-if="page=='view'">
                <div class="container-fluid p-4">
                  <div class="row">
                    <div
                      class="col-lg-6 col-xl-4"
                      v-for="(item) in list"
                      v-if="filter=='all'||(filter=='star' && item.star)"
                    >
                      <!--card-->
                      <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                          <h5 class="card-title">
                            <button type="button" class="btn btn-sm p-0" @click="star_click(item)">
                              <i class="material-icons icon-star" v-if="item.star">star</i>
                              <i class="material-icons icon-star" v-else>star_border</i>
                            </button>
                            <span>{{item.title}}</span>
                          </h5>
                          <p class="card-text ellipsis">
                            <!-- {{ellipsis(item.content)}} -->
                            {{item.ellipsis}}
                          </p>
                          <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" @click="more_click(item)">
                              more
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else-if="page=='edit'||page=='new'">
                <!-- <div id="editor"></div> -->
                <div class="d-flex flex-column min-vh-100">
                  <nav class="navbar navbar-expand-lg flex-grow-4 px-0">
                    <button type="button" class="btn btn-danger btn-sm" @click="close_click">╳</button>
                    <div class="flex-grow-1 justify-content-end text-right">
                      <button type="button" class="btn btn-success btn-sm" @click="save_click">儲存</button>
                    </div>
                  </nav>
                  <div class="input-group py-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">標題</span>
                    </div>
                    <input type="text" class="flex-fill" v-model="editorTitle" />
                  </div>
                  <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-vue@1.0.1/dist/ckeditor.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-ellipsis@0.1.6/dist/jquery.ellipsis.min.js"></script> -->
    <style>
      * {
        font-family: "Noto Sans TC", var(--font-family-sans-serif);
      }
      .ck-editor__editable_inline {
        flex: 1;
      }
      .ck-editor {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .ck-editor__main {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .ck-content {
        word-break: break-all;
      }
      .sidebar.my-nav {
        display: none !important;
      }
      .topbar.my-nav {
        display: block !important;
      }

      .icon-star {
        color: #ffdd00;
      }

      @media (min-width: 992px) {
        .sidebar.my-nav {
          display: block !important;
        }
        .topbar.my-nav {
          display: none !important;
        }
      }
      .ellipsis {
        word-break: break-all;
        overflow: hidden;
        height: 1.5rem;
      }
    </style>
    <script>
      class MyUploadAdapter {
        constructor(loader) {
          // The file loader instance to use during the upload.
          this.loader = loader;
        }

        // Starts the upload process.
        upload() {
          return this.loader.file.then(
            (file) =>
              new Promise((resolve, reject) => {
                this._initRequest();
                this._initListeners(resolve, reject, file);
                this._sendRequest(file);
              })
          );
        }

        // Aborts the upload process.
        abort() {
          if (this.xhr) {
            this.xhr.abort();
          }
        }

        // Initializes the XMLHttpRequest object using the URL passed to the constructor.
        _initRequest() {
          const xhr = (this.xhr = new XMLHttpRequest());

          // Note that your request may look different. It is up to you and your editor
          // integration to choose the right communication channel. This example uses
          // a POST request with JSON as a data structure but your configuration
          // could be different.
          xhr.open("POST", "https://example.com/image/upload/path", true);
          xhr.responseType = "json";
        }

        // Initializes XMLHttpRequest listeners.
        _initListeners(resolve, reject, file) {
          const xhr = this.xhr;
          const loader = this.loader;
          const genericErrorText = `Couldn't upload file: ${file.name}.`;

          xhr.addEventListener("error", () => reject(genericErrorText));
          xhr.addEventListener("abort", () => reject());
          xhr.addEventListener("load", () => {
            const response = xhr.response;

            // This example assumes the XHR server's "response" object will come with
            // an "error" which has its own "message" that can be passed to reject()
            // in the upload promise.
            //
            // Your integration may handle upload errors in a different way so make sure
            // it is done properly. The reject() function must be called when the upload fails.
            if (!response || response.error) {
              return reject(response && response.error ? response.error.message : genericErrorText);
            }

            // If the upload is successful, resolve the upload promise with an object containing
            // at least the "default" URL, pointing to the image on the server.
            // This URL will be used to display the image in the content. Learn more in the
            // UploadAdapter#upload documentation.
            resolve({
              default: response.url,
            });
          });

          // Upload progress when it is supported. The file loader has the #uploadTotal and #uploaded
          // properties which are used e.g. to display the upload progress bar in the editor
          // user interface.
          if (xhr.upload) {
            xhr.upload.addEventListener("progress", (evt) => {
              if (evt.lengthComputable) {
                loader.uploadTotal = evt.total;
                loader.uploaded = evt.loaded;
              }
            });
          }
        }

        // Prepares the data and sends the request.
        _sendRequest(file) {
          // Prepare the form data.
          const data = new FormData();

          data.append("upload", file);

          // Important note: This is the right place to implement security mechanisms
          // like authentication and CSRF protection. For instance, you can use
          // XMLHttpRequest.setRequestHeader() to set the request headers containing
          // the CSRF token generated earlier by your application.

          // Send the request.
          this.xhr.send(data);
        }
      }
      function MyCustomUploadAdapterPlugin(editor) {
        editor.plugins.get("FileRepository").createUploadAdapter = (loader) => {
          // Configure the URL to the upload script in your back-end here!
          return new MyUploadAdapter(loader);
        };
      }
      Vue.use(CKEditor);
      //ClassicEditor
      //console.log(CKEditor);
      const app = new Vue({
        el: "#app",
        data: {
          editorTitle: "",
          editor: ClassicEditor,
          editorData: "",
          editorConfig: {
            /*toolbar: ["bold", "italic", "bulletedList", "|", "numberedList", "alignment"],
            removePlugins: ["Heading", "Link"],
            isReadOnly: true,*/
            /*cloudServices: {
              uploadUrl: "http://example.com/image/upload/",
            },*/
            extraPlugins: [MyCustomUploadAdapterPlugin],
          },
          page: "view", //edit,view
          pageState: "all",
          editItem: null,
          sideNav: [
            { id: "all", title: "所有記事" },
            { id: "star", title: "已加星號" },
          ],
          list: [
            { star: true, title: "20200603", content: "", ellipsis: "" },
            { star: false, title: "20200603", content: "", ellipsis: "" },
          ],
          filter: "all",
        },
        mounted() {},
        methods: {
          ellipsis(text, max = 10) {
            let s = text;
            s = s.replace(/\<\w+\>/g, "");
            s = s.replace(/\<\/\w+\>/g, "");
            s = s.substring(0, max) + (s.length > max ? "…" : "");
            return s;
          },
          createSummernote() {},
          close_click() {
            this.page = "view";
            this.editorData = "";
            this.editorTitle = "";
            this.editItem = null;
          },
          save_click() {
            if (this.page == "new") {
              this.editItem = { star: false, title: "", title: "", title: "" };
              this.list.push(this.editItem);
              this.page = "edit";
            }
            this.editItem.title = this.editorTitle;
            this.editItem.content = this.editorData;
            this.editItem.ellipsis = this.ellipsis(this.editorData);
          },
          navItem_click(state, item) {
            this.page = state;
            this.filter = item.id;
          },
          more_click(item) {
            this.page = "edit";
            this.editItem = item;
            this.editorTitle = this.editItem.title;
            this.editorData = this.editItem.content;
            //this.$nextTick(this.createSummernote);
          },
          new_click() {
            this.page = "new";
            this.editorData = "";
            this.editorTitle = "";
            this.editItem = null;
          },
          star_click(item) {
            item.star = !item.star;
          },
        },
      });
    </script>
  </body>
</html>
