<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1"
    />
    <title>筆記</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <template id="nav_template">
      <ul class="nav nav-tabs">
        <li class="nav-item" v-for="(item,key) in list">
          <a class="nav-link" :class="{active:avtiveid==item.id}" href="javascript:void(0);" @click="item_click(item)"
            >{{item.title}}</a
          >
        </li>
      </ul>
    </template>

    <template id="cards_template">
      <div class="container-fluid p-4">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3" v-for="(item) in list">
            <slot :item="item"></slot>
          </div>
        </div>
      </div>
    </template>

    <template id="all_page_template">
      <div class="d-flex flex-fill flex-row">
        <div class="sidebar">
          <nav_component
            class="flex-column p-2"
            :list="$store.state.navList"
            :avtiveid="$store.state.pageid"
            @change="item_click"
          ></nav_component>
        </div>
        <div class="d-flex flex-fill flex-column content">
          <div class="topbar">
            <nav_component
              class="flex-row px-2 pt-2"
              :list="$store.state.navList"
              :avtiveid="$store.state.pageid"
              @change="item_click"
            ></nav_component>
          </div>
          <nav class="navbar navbar-expand-lg justify-content-end tool mb-4">
            <button
              type="button"
              class="btn btn-sm p-0 mr-2"
              @click="selectAll_click"
              v-if="selectList.length!=$store.state.dataList.length"
            >
              <i class="material-icons icon-color align-middle">select_all</i>
              <span class="align-middle">全選</span>
            </button>
            <button type="button" class="btn btn-sm p-0 mr-2" @click="deselect_click" v-if="selectList.length">
              <i class="material-icons icon-color align-middle">clear</i>
              <span class="align-middle">取消</span>
            </button>
            <button type="button" class="btn btn-sm p-0 mr-2" @click="delete_click" :disabled="!selectList.length">
              <i class="material-icons icon-color align-middle">delete</i>
              <span class="align-middle">刪除</span>
            </button>
            <button type="button" class="btn btn-sm p-0 mr-2" @click="star_click" :disabled="!selectList.length">
              <i class="material-icons icon-color align-middle">star</i>
              <span class="align-middle">星號</span>
            </button>
            <button type="button" class="btn btn-sm p-0" @click="add_click">
              <i class="material-icons icon-color align-middle">note_add</i>
              <span class="align-middle">新增筆記</span>
            </button>
          </nav>
          <cards_component :list="$store.state.dataList">
            <template slot-scope="props">
              <label class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="d-flex justify-content-end">
                      <input type="checkbox" v-model="selectList" :value="props.item" class="ml-2" />
                    </div>
                    <i class="material-icons icon-star">{{props.item.star?"star":"star_border"}}</i>
                    <span v-html="props.item.title"></span>
                  </h5>
                  <p class="card-text ellipsis" v-html="props.item.ellipsis"></p>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" @click="view_click(props.item)">
                      查看
                    </button>
                  </div>
                </div>
              </label>
            </template>
          </cards_component>
        </div>
      </div>
    </template>
    <template id="star_page_template">
      <div class="d-flex flex-fill flex-row">
        <div class="sidebar">
          <nav_component
            class="flex-column p-2"
            :list="$store.state.navList"
            :avtiveid="$store.state.pageid"
            @change="item_click"
          ></nav_component>
        </div>
        <div class="d-flex flex-fill flex-column content">
          <div class="topbar">
            <nav_component
              class="flex-row px-2 pt-2"
              :list="$store.state.navList"
              :avtiveid="$store.state.pageid"
              @change="item_click"
            ></nav_component>
          </div>
          <cards_component :list="$store.state.dataList">
            <template slot-scope="props" v-if="props.item.star">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">
                    <span v-html="props.item.title"></span>
                  </h5>
                  <p class="card-text ellipsis" v-html="props.item.ellipsis"></p>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" @click="view_click(props.item)">
                      查看
                    </button>
                  </div>
                </div>
              </div>
            </template>
          </cards_component>
        </div>
      </div>
    </template>
    <template id="garbage_page_template">
      <div class="d-flex flex-fill flex-row">
        <div class="sidebar">
          <nav_component
            class="flex-column p-2"
            :list="$store.state.navList"
            :avtiveid="$store.state.pageid"
            @change="item_click"
          ></nav_component>
        </div>
        <div class="d-flex flex-fill flex-column content">
          <div class="topbar">
            <nav_component
              class="flex-row px-2 pt-2"
              :list="$store.state.navList"
              :avtiveid="$store.state.pageid"
              @change="item_click"
            ></nav_component>
          </div>
          <nav class="navbar navbar-expand-lg justify-content-end tool mb-4">
            <button
              type="button"
              class="btn btn-sm p-0 mr-2"
              @click="selectAll_click"
              v-if="selectList.length!=$store.state.recycleList.length"
            >
              <i class="material-icons icon-color align-middle">select_all</i>
              <span class="align-middle">全選</span>
            </button>
            <button type="button" class="btn btn-sm p-0 mr-2" @click="deselect_click" v-if="selectList.length">
              <i class="material-icons icon-color align-middle">clear</i>
              <span class="align-middle">取消</span>
            </button>
            <button type="button" class="btn btn-sm p-0 mr-2" @click="delete_click" :disabled="!selectList.length">
              <i class="material-icons icon-color align-middle">
                delete_forever
              </i>
              <span class="align-middle">刪除</span>
            </button>
            <button type="button" class="btn btn-sm p-0" @click="restore_click" :disabled="!selectList.length">
              <i class="material-icons icon-color align-middle">
                restore_from_trash
              </i>
              <span class="align-middle">復原</span>
            </button>
          </nav>
          <cards_component :list="$store.state.recycleList">
            <template slot-scope="props">
              <label class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="d-flex justify-content-end">
                      <input type="checkbox" v-model="selectList" :value="props.item" class="ml-2" />
                    </div>
                    <span v-html="props.item.title"></span>
                  </h5>
                  <p class="card-text ellipsis" v-html="props.item.ellipsis"></p>
                </div>
              </label>
            </template>
          </cards_component>
        </div>
      </div>
    </template>
    <template id="edit_page_template">
      <div class="d-flex flex-column min-vh-75 p-2">
        <nav class="navbar navbar-expand-lg flex-grow-4 px-0">
          <button type="button" class="btn btn-danger btn-sm" @click="close_click">╳</button>
          <div class="flex-grow-1 justify-content-end text-right">
            <button type="button" class="btn btn-success btn-sm" @click="save_click" v-if="save">儲存</button>
          </div>
        </nav>
        <div class="input-group py-2">
          <div class="input-group-prepend">
            <span class="input-group-text">標題</span>
          </div>
          <input type="text" class="flex-fill" v-model="editorTitle" @input="title_input" />
        </div>
        <ckeditor
          :editor="editor"
          v-model="editorData"
          :config="editorConfig"
          @input="onEditorInput"
          @ready="onEditorReady"
        ></ckeditor>
      </div>
    </template>
    <div id="app" v-cloak>
      <div class="d-flex flex-fill flex-column min-vh-100">
        <nav class="mainNavbar navbar navbar-expand-lg navbar-light bg-light">
          <div class="navbar-brand">
            <span class="material-icons align-middle">
              description
            </span>
            <strong class="align-middle">筆記本</strong>
          </div>
          <!-- <div class="d-flex flex-fill justify-content-end">
            <button type="button" class="btn btn-primary">切換深色</button>
          </div> -->
        </nav>
        <all_page_component v-if="$store.state.pageid=='all'"></all_page_component>
        <star_page_component v-else-if="$store.state.pageid=='star'"></star_page_component>
        <garbage_page_component v-else-if="$store.state.pageid=='garbage'"></garbage_page_component>
        <edit_page_component v-else-if="$store.state.pageid=='edit'"></edit_page_component>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-vue@1.0.1/dist/ckeditor.min.js"></script>
    <style>
      * {
        font-family: "Noto Sans TC", var(--font-family-sans-serif);
      }
      .ck-editor__editable_inline {
        flex: 1;
      }
      .ck-editor {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .ck-editor__main {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .ck-content {
        word-break: break-all;
      }

      #app {
        overflow: hidden;
      }
      .sidebar {
        display: none !important;
      }
      .topbar {
        display: block !important;
      }

      .sidebar {
        min-width: 300px;
        /*background-color: #d7f1fa;*/
        border-right: 1px solid #dee2e6;
        box-shadow: 0.0625rem 0 0.125rem rgba(0, 0, 0, 0.075) !important;
      }

      .sidebar .nav-tabs {
        border-bottom: 0;
      }
      .sidebar .nav-tabs .nav-item .nav-link,
      .sidebar .nav-tabs .nav-link {
        position: relative;
        border-width: 1px;
        border-radius: 0;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        margin-right: -0.5rem;
      }
      .sidebar .nav-tabs .nav-item.show .nav-link,
      .sidebar .nav-tabs .nav-link.active {
        /*background-color: #f2f3f5;*/
        /*background-image: linear-gradient(to right, #fafbfb, #ffffff);*/
        border-color: #dee2e6 #fff #dee2e6 #dee2e6;
        box-shadow: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.075) !important;
      }

      .sidebar .nav-tabs .nav-link:not(.active):focus,
      .sidebar .nav-tabs .nav-link:not(.active):hover {
        border-color: #e9ecef #dee2e6 #e9ecef #e9ecef;
      }

      .sidebar .nav-tabs .nav-item {
        margin: 0;
      }
      .mainNavbar {
        border-bottom: 1px solid #dee2e6;
        box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.075) !important;
      }
      .tool .icon-color {
        color: #2d4257;
      }
      .tool {
        border-bottom: 1px solid #dee2e6;
      }

      .min-vh-75 {
        min-height: 75vh !important;
      }
      .min-vh-50 {
        min-height: 50vh !important;
      }
      .min-vh-25 {
        min-height: 25vh !important;
      }

      .content {
        width: 100%;
      }
      @media (min-width: 992px) {
        .sidebar {
          display: block !important;
        }
        .topbar {
          display: none !important;
        }
        .content {
          width: auto;
        }
      }

      @media (max-width: 576px) {
        .btn-group-sm > .btn,
        .btn-sm {
          font-size: 0.4375rem !important;
        }
      }
      .ellipsis {
        word-break: break-all;
        overflow: hidden;
        height: 1.5rem;
      }
    </style>
    <script>
      class MyUploadAdapter {
        constructor(loader) {
          this.loader = loader;
        }
        upload() {
          return this.loader.file.then(
            (file) =>
              new Promise((resolve, reject) => {
                let reader = new FileReader();
                reader.onload = () => {
                  resolve({ default: reader.result });
                };
                reader.onerror = () => {
                  reject(reader.error);
                };
                reader.readAsDataURL(file);
              })
          );
        }
      }
      function MyCustomUploadAdapterPlugin(editor) {
        editor.plugins.get("FileRepository").createUploadAdapter = (loader) => {
          return new MyUploadAdapter(loader);
        };
      }
      Vue.use(Vuex);
      Vue.use(CKEditor);
      Vue.component("nav_component", {
        props: {
          list: Array,
          avtiveid: String,
        },
        template: "#nav_template",
        methods: {
          item_click(item) {
            this.$emit("change", item);
          },
        },
      });

      Vue.component("cards_component", {
        props: {
          list: Array,
        },
        template: "#cards_template",
        methods: {},
      });

      Vue.component("all_page_component", {
        template: "#all_page_template",
        data() {
          return { selectList: [] };
        },
        methods: {
          item_click(item) {
            this.$store.commit("changePage", item.id);
          },
          add_click() {
            this.$store.commit("setEditData", { id: "", title: "", content: "" });
            this.$store.commit("changePage", "edit");
          },
          star_click() {},
          view_click(item) {
            this.$store.commit("setEditData", { id: item.id, title: item.title, content: item.content });
            this.$store.commit("changePage", "edit");
          },
          delete_click() {
            while (this.selectList.length) {
              this.$store.commit("removeDataItem", this.selectList.pop().id);
            }
          },
          star_click() {
            let bool = !this.selectList.every((el) => el.star);
            for (let i = 0; i < this.selectList.length; i++) {
              this.$store.commit("setStarDataItem", { id: this.selectList[i].id, bool: bool });
            }
          },
          selectAll_click() {
            this.selectList = [];
            for (let i = 0; i < this.$store.state.dataList.length; i++) {
              this.selectList.push(this.$store.state.dataList[i]);
            }
          },
          deselect_click() {
            this.selectList = [];
          },
        },
      });

      Vue.component("star_page_component", {
        template: "#star_page_template",
        methods: {
          item_click(item) {
            this.$store.commit("changePage", item.id);
          },
          view_click(item) {
            this.$store.commit("setEditData", { id: item.id, title: item.title, content: item.content });
            this.$store.commit("changePage", "edit");
          },
        },
      });

      Vue.component("garbage_page_component", {
        template: "#garbage_page_template",
        data() {
          return { selectList: [] };
        },
        methods: {
          item_click(item) {
            this.$store.commit("changePage", item.id);
          },
          selectAll_click() {
            this.selectList = [];
            for (let i = 0; i < this.$store.state.recycleList.length; i++) {
              this.selectList.push(this.$store.state.recycleList[i]);
            }
          },
          deselect_click() {
            this.selectList = [];
          },
          delete_click() {
            while (this.selectList.length) {
              this.$store.commit("removeRecycleItem", this.selectList.pop().id);
            }
          },
          restore_click() {
            while (this.selectList.length) {
              this.$store.commit("restoreRecycleItem", this.selectList.pop().id);
            }
          },
        },
      });

      Vue.component("edit_page_component", {
        props: {
          /*list: Array,
          avtiveid: String,*/
        },
        data() {
          return {
            editorTitle: this.$store.state.editData.title,
            editor: ClassicEditor,
            editorData: this.$store.state.editData.content,
            editorConfig: {
              extraPlugins: [MyCustomUploadAdapterPlugin],
            },
            save: false,
          };
        },
        template: "#edit_page_template",
        methods: {
          /*item_click(item) {
            this.$emit("change", item);
          },*/
          title_input: function() {
            this.save = true;
          },
          onEditorReady(e) {
            this.save = false;
          },
          onEditorInput(e) {
            this.save = true;
          },
          close_click() {
            if (!this.save || confirm("尚未儲存是否離開")) {
              this.$store.commit("clearEditData");
              this.$store.commit("changePage", this.$store.state.prev_pageid);
              this.save = false;
            }
          },
          save_click() {
            this.$store.commit("saveEditData", {
              title: this.editorTitle,
              content: this.editorData,
            });
            this.save = false;
          },
        },
      });

      let ellipsis = function(text, max = 10) {
        let s = text.replace(/<(?:.|\s)*?>/g, "");
        let s0 = "";
        let i = 0;
        let count = 0;
        while (count < max + 1 && i < s.length) {
          if (count < max) {
            let ss = s.substring(i, i + 6);
            if (ss == "&nbsp;") {
              s0 += ss;
              i += 6;
            } else {
              s0 += ss.charAt(0);
              i++;
            }
          } else {
            s0 += "…";
          }
          count++;
        }
        return s0;
      };
      function guid() {
        return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function(c) {
          var r = (Math.random() * 16) | 0,
            v = c == "x" ? r : (r & 0x3) | 0x8;
          return v.toString(16);
        });
      }

      const store = new Vuex.Store({
        state: {
          prev_pageid: "",
          pageid: "all",
          navList: [
            { id: "all", title: "所有記事", pageData: "view-all" },
            { id: "star", title: "已加星號", pageData: "view-star" },
            { id: "garbage", title: "垃圾桶", pageData: "view-garbage" },
          ],
          dataList: [
            { id: guid(), star: true, title: "20200603", content: "", ellipsis: "" },
            { id: guid(), star: false, title: "20200603", content: "", ellipsis: "" },
            { id: guid(), star: false, title: "20200603", content: "", ellipsis: "" },
            { id: guid(), star: false, title: "20200603", content: "", ellipsis: "" },
            { id: guid(), star: false, title: "20200603", content: "", ellipsis: "" },
          ],
          recycleList: [
            { id: guid(), star: false, title: "20200603", content: "", ellipsis: "" },
            { id: guid(), star: true, title: "20200603", content: "", ellipsis: "" },
          ],
          editData: null,
        },
        mutations: {
          changePage(state, id) {
            state.prev_pageid = state.pageid;
            state.pageid = id;
          },
          setEditData(state, data) {
            state.editData = data;
          },
          saveEditData(state, data) {
            let index;
            if (state.editData.id === "") {
              state.editData.id = guid();
              index = state.dataList.length;
              state.dataList.push({ star: false, id: state.editData.id });
            } else {
              index = state.dataList.findIndex(function(el) {
                return el.id == state.editData.id;
              });
            }
            let item = state.dataList[index];
            item.title = data.title;
            item.content = data.content;
            item.ellipsis = ellipsis(data.content, 10);
          },
          clearEditData(state) {
            state.editData = null;
          },
          removeDataItem(state, id) {
            let index = state.dataList.findIndex(function(el) {
              return el.id == id;
            });
            if (index >= 0) {
              state.recycleList.push(...state.dataList.splice(index, 1));
            }
          },
          setStarDataItem(state, data) {
            let index = state.dataList.findIndex(function(el) {
              return el.id == data.id;
            });
            if (index >= 0) {
              state.dataList[index].star = data.bool;
            }
          },
          removeRecycleItem(state, id) {
            let index = state.recycleList.findIndex(function(el) {
              return el.id == id;
            });
            if (index >= 0) {
              state.recycleList.splice(index, 1);
            }
          },
          restoreRecycleItem(state, id) {
            let index = state.recycleList.findIndex(function(el) {
              return el.id == id;
            });
            if (index >= 0) {
              state.dataList.push(...state.recycleList.splice(index, 1));
            }
          },
        },
      });

      const app = new Vue({
        el: "#app",
        store: store,
      });
    </script>
  </body>
</html>
